# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import scipy as sp
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv(
    "/Users/Miguel/Documents/GitHub/Ironhack exercises/Modulo 2/lab-hypothesis-testing/data/Current_Employee_Names__Salaries__and_Position_Titles.csv"
)

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:

# Ho: Mean hourly wage is $30/h.
# Ha: Mean hourly wage isn't $30/h.

alpha = 0.05
hourly_rate = salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"]
statistic, p_value = stats.ttest_1samp(hourly_rate, 30)

print("Statistic is ", statistic)
print("p-value is", p_value)

print("Ho was rejected.") if p_value < alpha else print("Ho has been accepted")

Statistic is  20.6198057854942
p-value is 4.3230240486229894e-92
Ho was rejected.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [8]:
# Your code here:

# Ho: Salaries this year are no greater than last year's.
# Ha: Salaries this year are greater than last year's.

alpha = 0.05
police = salaries[(salaries["Salary or Hourly"] == "Salary")
                  & (salaries["Department"] == "POLICE")]
police_salaries = police["Annual Salary"]
statistic, p_value_two_tailed = stats.ttest_1samp(police_salaries, 86000)

p_value_one_tailed = p_value_two_tailed / 2

print("Statistic is ", statistic)
print("p-value is", p_value_one_tailed)

print("Ho was rejected."
      ) if p_value_one_tailed < alpha and statistic > 0 else print(
          "Ho has been accepted")

Statistic is  3.081997005712994
p-value is 0.0010301701775482569
Ho was rejected.

Using the `crosstab` function, find the department that has the most hourly workers.

In [9]:
# Your code here:
pd.crosstab(salaries["Department"],
            salaries["Salary or Hourly"]).sort_values(by="Hourly",
                                                      ascending=False).head()

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Ho: Mean hourly wage isn't less than $35/h.
# Ha: Mean hourly wage is less $35/h.

alpha = 0.05
streets = salaries[(salaries["Salary or Hourly"] == "Hourly")
                   & (salaries["Department"] == "STREETS & SAN")]
streets_salaries = streets["Hourly Rate"]
statistic, p_value_two_tailed = stats.ttest_1samp(streets_salaries, 35)

p_value_one_tailed = p_value_two_tailed / 2

print("Statistic is ", statistic)
print("p-value is", p_value_one_tailed)

print("Ho was rejected."
      ) if p_value_one_tailed < alpha and statistic < 0 else print(
          "Ho has been accepted")

Statistic is  -9.567447887848152
p-value is 1.6689265282353859e-21
Ho was rejected.

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [11]:
# Your code here:
from scipy.stats import t, sem

degrees_of_freedom = len(hourly_rate) - 1
mean = np.mean(hourly_rate)
standard_error = sem(hourly_rate)

# Confidence interval
t.interval(0.95, df=degrees_of_freedom, loc=mean, scale=standard_error)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [12]:
degrees_of_freedom = len(police_salaries) - 1
mean = np.mean(police_salaries)
standard_error = sem(police_salaries)

# Confidence interval
t.interval(0.95, df=degrees_of_freedom, loc=mean, scale=standard_error)

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

# Ho: Mean hourly wage is 25%.
# Ha: Mean hourly wage isn't 25%.

alpha = 0.05
statistic, p_value = proportions_ztest(
    count=salaries["Salary or Hourly"].value_counts()["Hourly"],
    nobs=salaries.shape[0],
    value=0.25)

print("Statistic is ", statistic)
print("p-value is", p_value)

print("Ho was rejected.") if p_value < alpha else print(
    "Ho has been accepted.")

Statistic is  -3.5099964213703005
p-value is 0.0004481127249057967
Ho was rejected.